body {
    background: #d7d5cc;
    font-family: "Nunito", sans-serif;
}

.blurb h2 {
   font-weight: 100;
   font-size: 2.5rem;
}

.blurb p {
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

.img-fluid-width {
    width: 100%;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;    
}

#mainNavbar .nav-link {
    color: black;
}

#mainNavbar .nav-link:hover {
    color: rgb(120,118,109);
}

#mainNavbar .navbar-brand {
    color: black;
    font-size: 1.7rem;
    font-weight:500;
}

#headingGroup span {
    color: rgb(120,118,109);
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}

#my-carousel {
    margin-top: 52px;
}

.navbar.scrolled {
    background: #999b9d;
    transition: background 500ms;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }
    .blurb h2 {
        font-size: 2rem;
    }
}




